body {
    background-color: black;
    margin: 0px;
}

/* Header Start*/
#container1 {
    display: flex;
    background-color: #1a1d21;
}

#div1 {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#div1>a {
    text-decoration: none;
    color: white;
}

#search {
    border: 1px solid grey;
    padding: 3px 12px;
    color: white;
    border-radius: 6px;
    height: 20px;
    width: 250px;
    background-color: black;
}

#div2 {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#div2>#sp1 {
    font-size: 12px;
    width: 20px;
    color: white;
}

#div2>a {
    text-decoration: none;
    margin: 5px;
    color: white;
    font-size: 26px;

}

#div2>a>img {
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

/* Header End*/

/* Nav Start*/
#container2 {
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

#section1 {
    flex-grow: 100;
}

#section1>a {
    text-decoration: none;
    color: rgb(88, 166, 255);
}

#section1>a:hover {
    text-decoration: underline;
}

#section1>span {
    color: white;
}

#section1>img {
    height: 20px;
    width: 15px;
    margin-left: 20px;
    margin-right: 10px;

}

#section1>#span2 {
    border: 1px solid grey;
    margin: 5px;
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 32px;
}

#section2 {
    display: flex;
    flex-grow: 1;

}

#section2>div {
    border: 1px solid white;
    background-color: #1a1d21;
    margin-right: 5px;
    padding: 2px 10px;
    border-radius: 12px;
    color: white;
}

#section2>div:hover {
    background-color: grey;
}

#section2 a {
    color: white;
    text-decoration: none;
}

.butt1 {
    display: flex;
    align-items: center;
}

.butt1>span {
    margin: 0px 5px;
}

#container4 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#container4>div {
    color: white;
    display: flex;
    margin: 0px 15px;
    align-items: center;
}

#container4 .img1 {
    height: 15px;
    width: 10px;
    margin-right: 0%;
}

#container4 .img2 {
    margin-right: 6px;
}

#container4 .img3 {
    height: 15px;
    width: 15px;
    margin-right: 6px;
}

#container4 bold {
    background-color: grey;
    margin: 5px;
    padding: 2px 7px;
    border-radius: 50%;
}

/* Nav End*/

/* Section Start*/
.container3 {
    display: flex;
}

.block1 {
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
}

.div1 {
    color: white;
    display: flex;
}

.div1 strong {
    margin: 5px;
}

.div1 .img1:hover {
    color: blue;
}

.div2 {
    color: white;
    display: flex;

}

.box {
    margin-right: 30px;
}

.box2 {
    margin-left: 30px;
}

.box1 {
    border: 1px solid white;
    padding: 3px 7px;
    border-radius: 6px;
    background-color: rgb(33, 38, 45);
}

.box1:hover {
    background-color: grey;
}

.box3 {
    border: 1px solid white;
    padding: 3px 7px;
    border-radius: 6px;
    background-color: rgb(35, 134, 54);
}

.box3:hover {
    background-color: limegreen;
}

.box>a {
    text-decoration: none;
    color: white;
}

.box2>a {
    text-decoration: none;
    color: white;
}

.block2 {
    display: flex;
    flex-wrap: wrap;
}

table {
    border: 1px solid white;
    margin: 0px 20px;
    border-collapse: collapse;
}

table th {
    color: white;
    background-color: rgb(33, 38, 45);
    padding: 5px 2px 5px;
}

table th #pro {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 50%;
}

table th #name:hover {
    color: white;

}

table th>#dot {
    background-color: grey;
    padding: 0px 2px;
    margin-right: 70px;
}

table th a:hover {
    color: blue;
    text-decoration: underline;
}

table td {
    color: white;
    padding: 8px 20px 10px;
}

table a {
    text-decoration: none;
    color: white;
}

table tr {
    border-bottom: 1px solid white;
}

table th .img2 {
    margin: 3px;
}

table tr:hover {
    background-color: rgb(33, 38, 45);
}

table td>a:hover {
    color: rgb(88, 166, 255);
}

.fold img {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.part2 h2 {
    color: white;
}

.part2 p {
    color: white;
    font-size: 15px;
    margin: 0%;
}

.part2 img {
    height: 12px;
    width: 12px;
    margin-right: 5px;
}

.part2 #link {
    margin-top: 20px;
}

.part2 #link a {
    text-decoration: none;
    color: blue;
}

.part2 #link a:hover {
    text-decoration: underline;
}

.lan {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.lang1 a {
    border: 1px solid rgb(88, 166, 255);
    color: rgb(88, 166, 255);
    background-color: rgba(56, 139, 253, 0.15);
    border-radius: 24px;
    padding: 0px 10px;
    margin-right: 5px;
    text-decoration: none;

}

.lang1 a:hover {
    color: white;
    background-color: rgb(88, 166, 255);
}

.lan2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.lan3 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.lan4 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#readsec {
    margin-top: 20px;
}

#readsec img {
    margin-right: 15px;
    height: 20px;
    width: 25px;
}

#readsec span {
    margin-right: 15px;
    font-size: 25px;
}

#readsec>div {
    margin-top: 10px;
}

.read a {
    color: white;
    text-decoration: none;
}

.read a:hover {
    color: rgb(88, 166, 255);
}

#release {
    margin-top: 25px;
    margin-bottom: 25px;
}

#release a {
    color: white;
    margin-top: 5px;
    text-decoration: none;
}

#release strong {
    background-color: grey;
    margin: 5px;
    padding: 2px 7px;
    border-radius: 50%;
}

#release>div {
    color: grey;
    margin-top: 10px;
}

#release>.rel2>a {
    color: grey;
    margin-left: 20px;
}

#release>.rel2>a:hover {
    color: rgb(88, 166, 255);
}

#book {
    display: flex;
}

#book>.rel2 img {
    height: 20px;
    width: 25px;
}

#book>.rel2>a:hover {
    color: rgb(88, 166, 255);
}

.rel3>#let {
    margin-left: 25px;
    padding: 2px 7px;
    color: lime;
    border: 1px solid lime;
    border-radius: 30px;
}

#contrisec {
    margin-top: 25px;
    margin-bottom: 25px;
}

#contrisec a {
    color: white;
    text-decoration: none;
}

#contrisec strong {
    background-color: grey;
    margin: 5px;
    padding: 2px 3px;
    border-radius: 12px;
}

.contri>img {
    border: 1px solid white;
    margin: 5px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.contri {
    margin-bottom: 15px;
}

#contrisec .contri1>a {
    color: rgb(88, 166, 255);
}

#contrisec .contri1>a:hover {
    text-decoration: underline;
}

#chartbox>.char {
    color: white;
    font-size: 20px;
}

#chartbox>h3 {
    color: white;
}

#chart {
    display: flex;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.char {
    height: 5px;
}

.char1 {
    width: 56%;
    background-color: red;
}

.char2 {
    width: 27%;
    background-color: blue;
}

.char3 {
    width: 17%;
    background-color: orange;
}

#Lan>ul {
    color: white;
    margin-top: 10px;
}

a {
    text-decoration: none;

}

li {
    font-size: 30px;
}

li span {
    color: white;
    font-size: 14px;
    margin-left: -5px;
}

#li1 {
    color: red;
}

#li2 {
    color: blue;
}

#li3 {
    color: orange;
}

ul span:hover {
    color: rgb(88, 166, 255);
}



/* Section Start*/